---
import Layout from '../layouts/Layout.astro'
---
<Layout title="FAQS - Tlatlauquitepec" >
	<section class="text-gray-600 body-font">
        <div class="container px-5 pt-3 pb-8 mx-auto">
            <div class="flex flex-col text-center w-full mb-10">
                <h1 class="text-center font-bold text-3xl text-blue-900 mt-8 mb-1 font-helvetica">Preguntas frecuentes</h1>
            </div>
    
            <div class="grid max-w-xl mx-auto mt-8 px-6 border-solid border-2 rounded-3xl border-gray-300">
                <div class="py-4 border-solid border-b-2 border-gray-300">
                    <details class="group" >
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span class="font-bold text-blue-900">¿Qué es su empresa y qué servicios ofrecen?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="text-neutral-500 mt-3 group-open:animate-fadeIn">Somos un laboratorio clínico presente en Tlatlauquitepec y otros municipios del estado de Puebla que se especializa en ofrecer servicios de análisis clínicos. Nuestros servicios incluyen pruebas de laboratorio, análisis de sangre, exámenes médicos y más, proporcionando soluciones de diagnóstico confiables y personalizadas para la salud.</p>
                    </details>
                    
                </div>
                <div class="py-4 border-solid border-b-2 border-gray-300">
                    <details class="group" >
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span class="font-bold text-blue-900">¿Ofrecen descuentos a pacientes de 65 años o más?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="text-neutral-500 mt-3 group-open:animate-fadeIn">Sí, ofrecemos descuentos especiales para pacientes de 65 años o más. Valoramos la salud y el bienestar de nuestros pacientes, y este descuento es una muestra de nuestro compromiso con su atención médica accesible.</p>
                    </details>
                    
                
            </div>
            <div class="py-4 border-solid border-b-2 border-gray-300">
                <details class="group" >
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                        <span class="font-bold text-blue-900">¿Cómo puedo ponerme en contacto con ustedes ante aclaraciones o preguntas adicionales?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="text-neutral-500 mt-3 group-open:animate-fadeIn">Puede ponerse en contacto con nosotros a través de WhatsApp, Facebook Messenger, correo electrónico o por teléfono. Estamos disponibles para responder a sus preguntas en cualquier momento.</p>
                </details>
        </div>
        <div class="py-4 border-solid border-b-2 border-gray-300">
            <details class="group" >
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span class="font-bold text-blue-900">¿Cuentan con diversos paquetes de estudios disponibles en el catálogo?</span>
                    <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-neutral-500 mt-3 group-open:animate-fadeIn"> Sí, contamos con una amplia variedad de paquetes de estudios disponibles en nuestro catálogo. Nuestros paquetes están diseñados para cubrir diversas necesidades de diagnóstico y cuidado de la salud. Explora nuestro catálogo para encontrar la opción que mejor se adapte a tus requerimientos.</p>
            </details>
        
        
    </section>
</Layout>