---
import Section from '../elements/Section.astro'
---

<Section title="Catálogo de estudios" id="catalogo">
    <div class="flex w-11/12 justify-between sm:flex-row flex-col">
        <article class="sm:w-2/4 w-full md:ml-10  my-auto p-3 md:p-6 rounded-md flex flex-col gap-6">
            <header>
                <h3 class="md:text-3xl text-xl font-semibold text-[#012169] pb-5">Catálogo al público PDF</h3>
                <p class=" w-5/6">
                    Nuestro catálogo en formato PDF te proporcionará una visión completa de los análisis que ofrecemos. Haz clic en el enlace a continuación para descargar el catálogo actualizado.
                </p>
            </header>
            <footer class="flex justify-center sm:justify-start">
                <a href="./CATALOGO-ESTUDIOS-2023.pdf" target="_blank" 
                class=" hover:scale-105 transition-all hover:shadow-2xl hover:bg-[#012169] text-white py-3 px-4 rounded-lg bg-[#012169] font-bold flex w-fit" type="button"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg> Descargar</a>
            </footer>    
        </article>
        <img class=" sm:w-5/12 w-full my-auto  md:mr-14" src="./Equipos.webp" alt="Equipos">
    </div>
</Section>