---
import Section from '../elements/Section.astro'
---

<Section title="Catálogo de estudios">
    <article class="lg:w-2/4 w-5/6 bg-[#012169]  p-8 rounded-md text-white flex flex-col sm:flex-row justify-center items-center">
        <header>
            <span class="p-2 block">
                Nuestro catálogo en formato PDF te proporcionará una visión completa de los análisis que ofrecemos. Haz clic en el enlace a continuación para descargar el catálogo actualizado.
            </span>
        </header>
        <footer class="">
            <button class="lg:mx-10 hover:scale-105 transition-all hover:shadow-2xl bg-white py-3 px-4 rounded-lg text-[#012169] font-bold flex" type="button"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg> Descargar</button>
        </footer>
        
    </article>
</Section>