<footer>
    <div class="bg-gray-100">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col justify-between">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img
                src="../../public/LOGO LABORATORIO.png"
                width="210"
                height="50"
                class="p-0"
                alt="LOGO LABORATORIO Logo"
            />
          </a>
          <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2024 LABORATORIO CLÍNICO TLATLAUTIPEC —
            <a href="https://mace-technology.com" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@MACETECHNOLOGY</a>
          </p>
          

        </div>
      </div>
</footer>