<section class=" relative flex  md:relative lg:flex-row ">
    <img 
    class=" opacity-50 md:opacity-100"
    src="../public/Principal4.png"
    width="750"
    >
    </img>
    <span class=" absolute md:relative w-screen h-full  flex flex-col justify-center items-center bg-slate-700 bg-opacity-40 transition-all md:bg-white md:bg-opacity-0 md:mt-32" > 
        <img class=" w-3/5 md:w-4/5  " src="../public/LOGO LABORATORIO.png" alt="laboratorio">
        <div class="relative flex flex-col md:flex-row text-white font-bold gap-7 justify-center inset-x-auto ">
            <button type="button" class="bg-[#012169] py-3 px-4 rounded-lg">
                Catálogo de estudios
            </button>
            <button type="button" class="bg-[#344977] py-3 px-4 rounded-lg">
                Realizar una cotizacion
            </button>
        </div>
    </span>
</section>